# Built files
bin/**
!bin/.gitkeep

# Corpus
corpus/

# Old corpus
old-corpus/**
!old-corpus/.gitkeep

# Coverage reports
gcovr/**
!gcovr/.gitkeep

# Fuzzing artifacts
artifacts/**
!artifacts/.gitkeep


